@page "{id:int?}"
@model Admin.Pages.BaseInfo.Pages.Cities.Items

@{
    Layout = "_AdminLayout";
}

<!DOCTYPE html>

<html>
<head>
    <title></title>
</head>
<body>  
<div>
    سلاممممم
</div>
</body>
</html>